.App {
    text-align: center;

}

.header {
    background-color: #02b875;
}

.footer {
    background-color: #02b875;
}

.general{
    background-color: #e8f3ec;
}




.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


.cart-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50rem;
    max-width: 95%;
    z-index: 90;

    animation: show 500ms ease-in-out;

}

.cart-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
}

.cart-delete {
    cursor: pointer;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0%;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.cart-quantity {
    cursor: pointer;
    vertical-align: middle;
    color: #26a69a;
}

#toast-container {
    top: 3rem !important;
    animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}